body {
      font-family: 'Montserrat', sans-serif;
      margin: 0;
      background-color: Black;
      color: #fff;
      overflow: hidden;
}


.main{
    display: flex;
    height: 100vh;

}

.sidebar{
    background-color: #000;
    width: 340px;
    border-radius: 1rem; /* 16px */
}

.main-content{
    background-color: #121212;
    flex: 1;
     border-radius: 1rem; 
     overflow: auto;
     padding: 0 1.5rem 0 1.5rem;
    margin-top: 0.5rem;
}

.music-player{
    background-color: black;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 72px;
}

a{
    text-decoration: none;
    color: #fff;
}

.nav {
     background-color: #121212;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100px;
      padding: 0.5rem 0.75rem;
      margin: 0.5rem;
}

.nav-option {
         line-height: 2.5rem;
         opacity: 0.7;
         padding: 0.5rem 0.75rem ;
}

.nav-option:hover {
         opacity: 1;
}

.nav-option i {
    font-size: 1.25rem;
}

.nav-option a {
    font-size: 1rem;
    margin-left: 1rem;
}

.library {
      background-color: #121212;
      border-radius: 1rem;
      height: 100%;
      padding: 0.5rem 0.75rem ;
      margin: 0.5rem;

}

.options {
    display: flex;
     justify-content: space-between;
     align-items: center;
}

.lib-option img {
        height: 1.25rem;
        width: 1.25rem;
}

.icons {
        font-size: 1.2rem;

        display: flex;
}

.icons i {
        opacity: 0.7;
        margin-right: 1rem;
}

.icons i:hover {
     opacity: 1;
}

.box {
     background-color: #232323;
     height: 9rem;
     border-radius: 0.75rem;
     margin: 0.75rem 0 1.75rem 0;
     padding: 0.75rem 1rem 2rem;
}

.box-p1 {
    font-size: 1rem;
    font-weight: 600;
}

.box-p2{
    font-size:  0.85em;
    opacity: 0.9;
}
.badge {
     background-color: #fff;
     border: none;
     border-radius: 100px;
     padding: 0.25rem 1rem;
     font-weight: 600;
     margin-top: 0.5rem;
     height: 2rem;
     width: fit-content;
}

.dark-badge {
    background-color: #000;
    color: #fff;
}

/* Main-content */
.sticky-nav {
     position: sticky;
     top: 0;
     background-color: #121212;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 1rem 0 1rem 0;
     z-index: 10;
}

.sticky-nav-icons img  {
    margin-left: 0.75rem ;
}

.sticky-nav-options {
    display : flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
     margin-right: 1rem;
}

@media (max-width:1000px) {
      .hide {
         display: none;
      }
}


.card {
     background-color: #121212;
     width: 150px;
     border-radius: 0.5rem;
     padding: 1rem;
     margin-left: 1.5rem ;
     margin-top:  1rem;

     flex: 0 0 auto; /* slider ke liye fixed */
     scroll-snap-align: start; /* smooth snapping */

}

.card:hover {
    background-color: #232323;
}


/* Scrollable Slider Wrapper */
.cards-slider {
  overflow-x: auto; /* horizontal scroll enable */
  overflow-y: hidden;
  scroll-snap-type: x mandatory; /* snap effect */
  -webkit-overflow-scrolling: touch; /* smooth on mobile */
  padding-bottom: 1rem;
}

/* Horizontal card container */
.cards-container {
  display: flex;
  flex-wrap: nowrap; /* sab ek hi line me */
  gap: 1rem;
}

/* Scrollbar hide (optional) */
.cards-slider::-webkit-scrollbar {
  display: none;
}

.card-img {
     width: 100%;
     border-radius: 0.5rem;
}

.card-title {
    font-weight: 550;
}

.card-info {
    font-size: 0.80rem;
    opacity: 0.7;
    line-height: 1.2rem;
}

.footer {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.line {
    width : 90%;
    height: 50%;
    border-top: 1px solid #fff;
    opacity: 0.4;
}



/* last bottom */ 

.music-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.album {
    width: 25%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 1rem;
}

.album img {
    height: 3rem;
    width: 3rem;
    display: flex;

}

.para {
    height: 2rem;
    width: 4rem;
    font-size: 0.5rem;
}

 .p1 {
    font-size: 0.75rem;    
}
.p2 {
    opacity: 0.8;
}


.player {
     width: 50%;
}

.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-control-icon {
      height: 1rem;
      margin-right: 1.5rem;
      opacity : 0.7;
}

.player-control-icon:hover {
      opacity: 1;

}

.playback-bar {
     display: flex;
     justify-content: center;
     background-color: transparent;
     align-items: center;
}

.progress-bar {
     width: 65%;
     appearance: none;
     cursor: pointer;   
}

.progress-bar::-webkit-slider-runnable-track{
       background-color: #ddd;
       border-radius: 3px;
       height: 0.25rem;
}

.progress-bar::-webkit-slider-thumb {
      appearance: none;
      height: 1rem;
      width: 1rem;
      background-color: #1bd760;
      border-radius: 50%;
      margin-top: -6px;
}

.controls {
    width: 25%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 1rem;
    padding-right: 2rem;
}

.controls i {
      height: 1rem;
      margin-right: 1rem;
      opacity : 0.9;
}

.controls input {
    height: 0.3rem;
    width: 5rem;
}










