.canva-1st{
    background-color:white;
    height: 72px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.canva-logo{
    margin-left: 10px;
}
.canva-select{
      height: 40px;
      width: 70%;
      border: 2px solid transparent;
      display: flex;
      justify-content: space-evenly;
      align-items: center; 
      margin-right: 400px;  
}
.box {
    border: 0.5px solid white;
    font-size: 0.97rem;
    color: rgb(61, 60, 60);
}

.canva-search-icon{
    color: rgb(89, 87, 87);
    font-size: 1rem;
    margin-right: 30px;
}
.canva-help-icon{
    font-size: 1.3rem;
    width: 50px;
    color: rgb(89, 87, 87);
    margin-right: 10px;
}
.canva-login{
    height: 40px;
    width: 100px;
    border: 1.5px solid rgb(222, 222, 222);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    font-family: sans-serif;
    margin-right: 15px;

}
.canva-signup{
    height: 40px;
    width: 100px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-right: 20px;

}
.canva-signup button{
    background-color:  blue;
    color: white;
    border: none;
}

.canva-2nd{
    height: 280px;
    background-color: white;
    display: block;
}
.canva-meet{
    height: 64px;
    color:rgb(16, 15, 20); 
    padding-top: 40px;
    margin-bottom: 50px;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.canva-meet span{
    margin-left: 20px;
    color: rgb(28, 121, 234);
}
.canva-meet2{
    height: 32px;
    color: rgb(108, 105, 105);
    margin-bottom: 35px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}
.start-design{
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
}
.start-design button{
    height: 40px;
    width: 134px;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
}

/*Canva-4th**/
.canva-4th{
    height: 445px;
    background-color: white;
    color: black;
}
.canva-pre{
      height: 43px;
      font-size: 1.5rem;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family:  sans-serif;
      font-weight: 700;
      
}
.canva-transparents{
    height: 284px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}
.transp-box{
    height: 284px;
    width: 284px;
    background-color: rgb(196, 229, 251);
    border-radius: 20px;
}
.canva-post{
    font-size: 1.05rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(96, 96, 96);
}
.canva-post a{
    margin-left: 5px;
    margin-right: 5px;
}
.text1{
    height: 40px;
    width: 250px;
    background-color: rgb(196, 229, 251);
    display: flex;
    justify-content: space-evenly;
   align-items: center;
   padding-top: 20px;
}
.left{
    height: 16px;
    width: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 0.7rem;
    margin-left: 10px;
}
.right-l{
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
    margin-left: 60px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-l i{
    font-size: 1.8rem;
    color: rgb(223, 238, 13);
}
.text2{
    height: 40px;
    font-size: 1.8rem;
    margin-left: 20px;
    font-weight: 700;
    margin-top: 10px;
}
.text3{
    font-size: 1.1rem;
    margin-left: 20px;
    color: rgb(86, 84, 84);
}
.text4{
    height: 40px;
    width: 243px;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-left: 20px;
    margin-right: 20px;
    
}
.text4 button{
    background-color: blue;
    color: white;
    border: none;
    font-size: 1.08rem;
}




/* footer */
.sec-last{
         height: 352px;
         background-color: black;
         display: flex;
         justify-content: center;
         color: white;    
}
.sec-last h1{
    font-size: 3rem;
    margin-top: 100px;
    font-family:  Canva Sans, Noto Sans Variable, Noto Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
}
.sec-last a{
    color: rgb(26, 14, 206);
}
.button{
    height: 40px;
    width: 190px;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: 170px;

}
.button button{
         height: 40px;
         width: 190px;
         background-color: blue;
         border: none;
         font-size: 1.04rem;
         color: white;
         border-radius: 10px;         
}



.last-point{
    height: 390px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}
 ul{
         height: 366px;
         width: 234px;
         background-color: white;
         margin-top: 20px;
}
ul a{
    display: block;
    font-size: 0.7rem;
    margin-top: 10px;
    color: rgb(58, 57, 57);
    font-family: Canva Sans, Noto Sans Variable, Noto Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
}
ul p{
    font-size: 0.95rem;
    font-weight: bold;
    font-family: Canva Sans, Noto Sans Variable, Noto Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
}


.final{
    height: 200px;
    background-color: white;
    display: flex;
}

.lang{
    height: 35px;
    width: 150px;
    border: 0.5px solid rgb(221, 221, 221);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}
.sel-lang{
    border: none;
    font-size: 0.75rem;
    color: rgb(61, 60, 60);
}
.lang i{
    color: rgb(133, 133, 133);
  margin-right: 5px;  
}

.final-copyright{
    margin-left: 230px;
    color: rgb(60, 60, 60);
}


.final-copyright p{
    display: flex;
    justify-content: center;
    font-size: 0.79rem;
}
.copyright{
    color: rgb(116, 115, 115);
    font-size: 0.85rem;
}
